#credits {
    font-size: 14px;
    color: var(--black);
}

a {
    color: var(--dark-green);
    text-decoration: none;
}

a:hover {
    color: var(--black);
}

.footer-credits {
    padding-top: 5vh;
    padding-bottom: 4vh;
    text-align: center;
    width: 100%;
}

/* on 768px OR SMALLER displays - TABLET */
@media only screen and (max-width: 826px) {
    .footer-credits {
        padding-top: 8vh;
        padding-bottom: 2vh;
    }
}

/* on 576px OR SMALLER dispays - PHONE  */
@media only screen and (max-width: 576px) {

}