#projects {
    padding-left: 10%;
    padding-right: 25%;
    min-height: 60vh;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
}

.projects-card {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: var(--beige);
    border-radius: 18px;
}

.projects-card:hover {
    transform: translateY(-5px);
    background-color: var(--slate);
}

.card-header {
    margin-top: -25px;
    display: flex;
    padding: 1.25em 0 !important;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none !important;
}

.folder-icon {
    color: var(--dark-green);
}

