.typewriter-greeting {
    font-size: 60px;
    font-weight: 700;
}

.typewriter-name {
    font-weight: bold;
    color: var(--dark-green);
    font-weight: 700;
}

.typewriter-cursor {
    color: var(--light-green);
    font-weight: 700;
}

/* on 768px OR LARGER displays - TABLET */
@media (min-width: 768px) {
    .typewriter-greeting {
        font-size: 35px;
    }
}

/* on 576px OR LARGER dispays - PHONE  */
@media (min-width: 576px) {

}