.typewriter-greeting {
    font-size: 60px;
    font-weight: 700;
}

.typewriter-name {
    font-weight: bold;
    color: var(--dark-green);
    font-weight: 700;
}

.typewriter-cursor {
    color: var(--dark-dark-green);
    font-weight: 700;
}

.typewriter-cursor, .typewriter-name {
    isolation: isolate;
}

/* on 768px OR SMALLER displays - TABLET */
@media only screen and (max-width: 826px) {
    .typewriter-greeting {
        font-size: 36px;
    }
}

/* on 576px OR SMALLER dispays - PHONE */
@media only screen and (max-width: 576px) {
    .typewriter-greeting {
        font-size: 24px;
    }
}